{% extends "base_generic.html" %}

{% block content %}

{% load static %} 

<div class="card shadow mt-0">
    <div class="card-header bg-success text-white text-start">Gallery<!-- <i class="fas fa-file-csv m-2"></i> --></div>
    
    <div class="card-body">

<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static '/gallery/images/apple.jpg' %}" class="img-fluid shadow-2-strong" alt="My image" width="500">


            <div class="card-body">
              <p class="card-text" _msttexthash="9321065" _msthash="16" style="direction: ltr; text-align: left;">This is a broader card with supporting text below as a natural introduction to additional content. This content is a little longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-success" _msttexthash="63401" _msthash="17" style="direction: ltr;">width</button>
                  <button type="button" class="btn btn-sm btn-outline-success" _msttexthash="162188" _msthash="18" style="direction: ltr;">modulation</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static '/gallery/images/blueberry.jpg' %}" class="img-fluid shadow-2-strong" alt="My image" width="500">

            <div class="card-body">
              <p class="card-text" _msttexthash="9321065" _msthash="23" style="direction: ltr; text-align: left;">This is a broader card with supporting text below as a natural introduction to additional content. This content is a little longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-success" _msttexthash="63401" _msthash="24" style="direction: ltr;">width</button>
                  <button type="button" class="btn btn-sm btn-outline-success" _msttexthash="162188" _msthash="25" style="direction: ltr;">modulation</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static '/gallery/images/lemon.jpg' %}" class="img-fluid shadow-2-strong" alt="My image" width="500">
            <div class="card-body">
              <p class="card-text" _msttexthash="9321065" _msthash="30" style="direction: ltr; text-align: left;">This is a broader card with supporting text below as a natural introduction to additional content. This content is a little longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-success" _msttexthash="63401" _msthash="31" style="direction: ltr;">width</button>
                  <button type="button" class="btn btn-sm btn-outline-success" _msttexthash="162188" _msthash="32" style="direction: ltr;">modulation</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static '/gallery/images/orange.jpg' %}" class="img-fluid shadow-2-strong" alt="My image" width="500">
            <div class="card-body">
              <p class="card-text" _msttexthash="9321065" _msthash="37" style="direction: ltr; text-align: left;">This is a broader card with supporting text below as a natural introduction to additional content. This content is a little longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-success" _msttexthash="63401" _msthash="38" style="direction: ltr;">width</button>
                  <button type="button" class="btn btn-sm btn-outline-success" _msttexthash="162188" _msthash="39" style="direction: ltr;">modulation</button>
                </div>
                <small class="text-muted" _msttexthash="115934" _msthash="40" style="direction: ltr; text-align: left;">9 minutes</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static '/gallery/images/lemon2.jpg' %}" class="img-fluid shadow-2-strong" alt="My image" width="500">
            <div class="card-body">
              <p class="card-text" _msttexthash="9321065" _msthash="44" style="direction: ltr; text-align: left;">This is a broader card with supporting text below as a natural introduction to additional content. This content is a little longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-success" _msttexthash="63401" _msthash="45" style="direction: ltr;">width</button>
                  <button type="button" class="btn btn-sm btn-outline-success" _msttexthash="162188" _msthash="46" style="direction: ltr;">modulation</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static '/gallery/images/mango.jpg' %}" class="img-fluid shadow-2-strong" alt="My image" width="500">
            <div class="card-body">
              <p class="card-text" _msttexthash="9321065" _msthash="51" style="direction: ltr; text-align: left;">This is a broader card with supporting text below as a natural introduction to additional content. This content is a little longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-success" _msttexthash="63401" _msthash="52" style="direction: ltr;">width</button>
                  <button type="button" class="btn btn-sm btn-outline-success" _msttexthash="162188" _msthash="53" style="direction: ltr;">modulation</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static '/gallery/images/grape.jpg' %}" class="img-fluid shadow-2-strong" alt="My image" width="500">
            <div class="card-body">
              <!--- 
              <p class="card-text"></p>
                                      
                <p id="permaculture-paragraph">
                  Grapes. This is a broader card with supporting text below as a natural introduction to additional content. This content is a little longer. This is a broader card with supporting text below as a natural introduction to additional content. This content is a little longer.
                </p>    
                
                 -->
                     
             
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static '/gallery/images/plum.jpg' %}" class="img-fluid shadow-2-strong" alt="My image" width="500">
            <div class="card-body">
              <p class="card-text" _msttexthash="9321065" _msthash="65" style="direction: ltr; text-align: left;">This is a broader card with supporting text below as a natural introduction to additional content. This content is a little longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-success" _msttexthash="63401" _msthash="66" style="direction: ltr;">width</button>
                  <button type="button" class="btn btn-sm btn-outline-success" _msttexthash="162188" _msthash="67" style="direction: ltr;">modulation</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static '/gallery/images/tomatoe.jpg' %}" class="img-fluid shadow-2-strong" alt="My image" width="500">
            <div class="card-body">
              <p class="card-text" _msttexthash="9321065" _msthash="72" style="direction: ltr; text-align: left;">This is a broader card with supporting text below as a natural introduction to additional content. This content is a little longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-success" _msttexthash="63401" _msthash="73" style="direction: ltr;">width</button>
                  <button type="button" class="btn btn-sm btn-outline-success" _msttexthash="162188" _msthash="74" style="direction: ltr;">modulation</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>


  {% endblock %}