{% extends "base_generic.html" %}

{% block content %}
<h5 class="card-title">Permaculture</h5>
{% load static %}
<p><img src="{% static 'dashboard/images/raspfruit.png' %}" class="float-end" alt="My image" width="300"></a>
<p>Permaculture is a sustainable design system that can be used to create self-sufficient human settlements and agricultural systems. The term permaculture was coined in the 1970s by Australian ecologist Bill Mollison and his student, David Holmgren. It is based on the observation and mimicry of natural ecosystems.</p>
<p>Permaculture for fruit trees and vegetables can create a more diverse and abundant food supply while using fewer resources. It is a method of ecological design that can be used to restore and regenerate degraded ecosystems.</p>    
<p>Fruit trees and vegetables are an important part of a permaculture system as they provide food and other resources. They can also be used to create microclimates, shade, and windbreaks. When designing a permaculture system, it is important to consider the needs of the plants and animals that will be living in it.</p>
<p>Permaculture systems are based on three ethical principles: care for the earth, care for people, and share the surplus. These principles guide the design and implementation of permaculture systems.</p>
<p>Permaculture for fruit trees and vegetables can be used to create a more sustainable and efficient food system. It is a method of design that can be used to restore and regenerate degraded ecosystems. When designing a permaculture system, it is important to consider the needs of the plants and animals that will be living in it.</p>

  {% endblock %}